<?xml version="1.0"?>

<connectionStrings>
    <!-- SQL Server -->
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=IoC_FW; User ID=sa; Password=1234; Persist Security Info=True" providerName="System.Data.SqlClient" />

    <!-- MDF File -->
    <!--<add name="DefaultConnection" connectionString="Data Source=.;AttachDbFilename=|DataDirectory|IoC_FW.mdf;Initial Catalog=IoC_FW;Integrated Security=True;" providerName="System.Data.SqlClient" />-->

    <!-- SQLite -->
    <!--<add name="DefaultConnection" connectionString="Data Source=|DataDirectory|IoC_FW.db;Version=3;Legacy Format=True;" providerName="System.Data.SQLite" />-->

    <!-- MySql -->
    <!--<add name="DefaultConnection" connectionString="Server=localhost;Port=3306;Database=IoC_FW;Uid=root;Pwd=MySQL@123456;" providerName="MySql.Data.MySqlClient" />-->

    <!-- Maria Data Base -->

    <!-- Oracle -->

    <!-- Postgree -->

</connectionStrings>