/* constantes ==================================================================== */
*{
	margin: 0;
	padding: 0;
}

html,body{
	font-family: Tahoma;
	font-size: 11px;
	color: #333;
	margin: 0;
	padding: 0;
}

a{
	overflow: hidden;
	color: #333;
	text-decoration: none;
}

a:hover{
	color: #333;
	text-decoration: underline;
}

li {
	list-style-position: outside;
	list-style-type: none;
}

h1, h2, h3, h4, h5{
	font-size: 11px;
	color: #000;
}

input,textarea{
	border: 1px inset #000;
	font-size: 11px;
	padding: 2px 3px;
	font-family: Tahoma;
}

/* estrutura ==================================================================== */

.topoMenuAdmin{
	width: 780px;
	height: 19px;
	margin: 6px 0 0 0;
}

.menu_item{
	padding: 0 5px;
}
.menu_item_sub{		
	float: left;
	padding: 5px 0 0 5px;
	font-size: 10px;
}

.container{
	display: table;
	width: 780px;
	margin: 0 auto;
	border: 1px solid #000;
	position: relative;	
}

.topo{
	width: 780px;
	border-bottom: 1px solid #666;
	position: relative;
}

.content{
	float: left;
	width: 760px;
	margin: 0;
	padding-bottom: 60px;
	background: #fff;
	padding: 10px 10px 50px 10px;
}

.rodape{
	margin: 0 auto;
	position: relative;
	bottom: 0;
	width: 740px;
	height: 19px;
	color: #fff;
	padding: 7px 20px 0 20px;
	border: 1px solid #000;
}

/*menu*/
.menu_topo{
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0px;
	left: 0;
	background: #000;
}

.menu_item{
	padding: 0 5px;
}

/* login ==================================================================== */
.content .login{
	display: table;
	margin: 70px auto 0 auto;
	width: 230px;
	padding: 30px 20px 20px 20px;
	border: 1px solid #000;
	background: #e4e4e4;
}

.content .login p{
	float: left;
	width: 220px;
	height: 20px;
	margin: 0 0 10px 0;
	padding: 0;
}

.content .login p label{
	float: left;
	width: 52px;
	padding: 3px 0 0 0;
}

.content .login p input{
	float: left;
	width: 155px;
}

.content .login p input.bt_login{
	float: right;
	width: 50px;
}

.bt_login {
	height: 20px;
}

.content .login p.erro{
	color: #900;
}

/* usuarios ==================================================================== */
.content h3{
	float: left;
	width: 100%;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #666;
}

.content p{
	float: left;
	width: 740px;
	margin-bottom: 5px;
}

/*resultados tabela*/
/*.tblListar{
	float: left;
	width: 740px;
}

.tblListar thead tr th{
	background: #666;
	color: #fff;
}

.tblListar thead tr th.txt_titulo{
	text-align: left;
	width: 340px;
	padding: 5px;
	color: #fff;
}

.tblListar tr td{
	text-align: left;
	padding: 2px 5px 2px 5px;
}

.tblListar tr{
	width: 100%;
	height: 100%;
	background: #ccc;
	cursor: pointer;
}

.tblListar tr td input.bt_excluir{
	background: #666;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
}*/

.tblListar {
	float: left;
	width: 740px;
}

.tblListar thead tr th{
	background: #666;
	color: #fff;
}

.tblListar thead tr th.txt_titulo{
	text-align: left;
	padding: 5px;
	color: #fff;
}

.tblListar tr td{
	text-align: left;
	padding: 2px 5px 2px 5px;
}

.tblListar tr{
	width: 100%;
	height: 100%;
	background: #ccc;
	cursor: pointer;
}

.tblListar tr td.td_bt_excluir{
	width: 25px;
	text-align: center;
}

.tblListar tr td a.bt_excluir{
	text-indent:-9999px; display:block; overflow:hidden;
	background:url(/Content/img/excluir.gif) no-repeat;
	border:none;
	width:12px;
	height:13px;
	cursor:pointer;
	color:#ccc;
	margin:2px 0 0 13px;
/*	width: 20px;
	background: #666;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer; */
}

.tblListar tr td.editar {
	text-align: center;
	width:16px;
}

.tblListar tr td.editar p,.tblListar tr td.editar p a {
	text-indent:-9999px;display:block; overflow:hidden;
	background: url(/Content/img/editar.png) no-repeat;
	width:16px;
	height:16px;
}

.tblListar tr td.editar p {
	position:relative;
	left:9px;
	margin:2px 0 0 0;
}

/*editar*/
p {
	padding-bottom: 5px;
}

p label{
	float: left;
	width: 190px;
	margin-bottom: 5px;
	text-align: right;
	padding: 3px 20px 3px 0;
}

p input,
p textarea{
	float: left;
	width: 400px;
	margin-right: 5px;
}

p input{
	height: 16px;
}

p .moderacao_radio{
	float: left;
	width: 100px;
	background: red;
}

p select{
	float: left;
	width: 250px;
	margin-right: 6px;
}

fieldset {
	float: left;
	width: 720px;
	padding: 10px;
	border: 1px solid #000;
	margin-bottom: 10px;
}

fieldset div{
	width: 100%;
	height: 70px;
	overflow-y: scroll;
	_margin-top: 5px;
	margin-bottom: 10px;
}

fieldset table {
	float: left;
	width: 700px;
}

fieldset table tr{
	padding: 5px 0 5px 0;	
}

fieldset table input{
	border: 0;
	width: 14px;
	height: 14px;
	margin: 2px 0 0 0;
}

.box_error{
	float: left;
	display: inline;
	width: 350px;
	margin: 0  0 10px 210px;	
}

.box_error ul li{
	color: #900;
}

span.lbl_erro{
	float: left;
	color: #900;
}

p.botoes{
	width: 740px;
	text-align: right;
}

p.botoes input{
	float: right;
	width: 130px;
	height: 23px;
	margin-left: 10px;
}

.radio {
	float: right;
	width: 55px;
}

.radio input {
	float: left;
	border: none;
	width: 15px !important;
}

.radio label {
	float: left;
	width: 20px!important;
	padding: 0!important;
}

.radio_todos {
	width: 55px;
}

.radio_todos input {
	border: none;
	width: 15px !important;
}

.radio_todos label {
	width: 20px!important;
	padding: 0!important;
}

.textArea {
	float: left;
}

p.ouvir{
	float: left;
	margin-bottom: 20px;
}

p a.moderar_url{
	float: left;
	margin-left: 100px;
}

.marcar_todos{
	float: left;
	width: 100%;
	margin-top: 20px;
}

.marcar_todos input{
	margin: 0 2px 0 5px;
}

.pTxtFile{
	height: 30px;	
}

.txtFile{
	height: 18px!important;
	font-size: 11px;
}

.btAdd{
	margin-left: 10px;
	height: 18px!important;
	width: 50px;
}

.chkPublicidade {
	float: left;
}

.chkPublicidade label {
	float: left;
	width: 100px;
	text-align: left;
}

.chkPublicidade input{	
	float: left;
	border: 0px;
	width: 15px;
}

.boxListaImg{
	float: left;
	display: inline;
	width: 100px;
	height: auto;
	margin: 0 0 10px 33px;
}

.boxListaImg a{
	float:right;
	display: block;
	background: #fff;
	border:1px solid #000;
	padding:3px 5px;
	position:relative;
	top:-21px;
}

.btEdit {
	width:25px;
	left:0;
}

.btExcluir {
	width:7px;
	left:0;
	margin:0 0 0 5px;
}

.fildEditor {
	height:215px;	
}

#paginacao {
	margin: 15px auto;
	text-align:center;		
}

#paginacao .activePage {
	font-weight:bold;
}

#paginacao a {
	text-align: center;
	margin:5px;	
}

.txtTny {
	height:250px;
}


.permissao label{
	width: 200px;
}

.permissao input{
	margin-left: 210px;
	margin-right: 10px;
}

.userLogado {
	text-align: right;
	padding:10px;
}

.text-box .single-line {
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}
