<?xml version="1.0"?>

<connectionStrings>
  <!-- SQL Server -->
  <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=IoC_FW; User ID=sa; Password=1234; Persist Security Info=True" providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConnection" connectionString="Data Source=.\SQL2008R2; Initial Catalog=IOC_FW; User ID=sa; Password=SQL@123456; Persist Security Info=True" providerName="System.Data.SqlClient" />-->

  <!-- MDF File -->
  <!-- Utilizado para attachar um arquivo MDF a um instância do SQL Server -->
  <!--<add name="DefaultConnection" connectionString="Data Source=.\SQL2008R2;AttachDbFilename=|DataDirectory|SQL Server\IoC_FW.mdf;Initial Catalog=IoC_FW;Integrated Security=True;" providerName="System.Data.SqlClient" />-->

  <!-- SQLite -->
  <!--<add name="DefaultConnection" connectionString="Data Source=App_Data\SQLite\IoC_FW.db;Version=3;Legacy Format=True;" providerName="System.Data.SQLite" />-->

  <!-- MySql -->
  <!--<add name="DefaultConnection" connectionString="Server=127.0.0.1;Port=3306;Database=IoC_FW;Uid=root;Pwd=MySQL@123456;" providerName="MySql.Data.MySqlClient" />-->

  <!-- Maria Data Base -->
  <!--<add name="DefaultConnection" connectionString="Server=127.0.0.1;Port=3307;Database=IoC_FW;Uid=root;Pwd=MariaDB@123456;" providerName="MySql.Data.MySqlClient" />-->

  <!-- Oracle -->

  <!-- Postgree -->

</connectionStrings>