<?xml version="1.0"?>

<iocFramework>
  <containerManager>
    <modules>
      <module invariantName="BusinessAssembly" assemblyName="IOC.Binding" className="IOC.Binding.SimpleInjector.BusinessModule" />
      <module invariantName="DaoAssembly" assemblyName="IOC.Binding" className="IOC.Binding.SimpleInjector.DAOModule" />
    </modules>
  </containerManager>
  <thumb notFoundPath="/Content/img/ImagemIndisponivel.gif" defaultWidth="500" defaultHeight="500" />
</iocFramework>