body{
	background: #999;
}

.topo{
	height: 150px;
	background: #fff url(/Content/img/bg_header_repeat.png) no-repeat center -60px;
}

.topo h1{
	float:left;
	display:inline;
	width:198px;
	height:90px;
	/*background:url(/Content/img/logo-WT.gif) no-repeat;*/
	text-indent:-9999px;
	margin:-10;
	margin-left:605px;
}

.topo h2{
	float: right;
	width: 185px;
	height: 30px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin: 40px 0 0 0;
}

.rodape{
	background: #9B2A0C;
}

.td_id
{
	width:10px;		
}

.td_item
{
	width:400px;
}