<?xml version="1.0"?>

<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=.\SQL2008R2; Initial Catalog=WT_TESTE; User ID=sa; Password=SQL@123456; Persist Security Info=True" providerName="System.Data.SqlClient" />-->

  <add name="DefaultConnection" connectionString="Data Source=.\SQLSERVER; Initial Catalog=IOC_FW; User ID=sa; Password=1234; Persist Security Info=True;" providerName="System.Data.SqlClient" />
  
  <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=WT_TESTE; User ID=sa; Password=1234; Persist Security Info=True;" providerName="System.Data.SqlClient" />-->
</connectionStrings>
