@{
    ViewBag.Title = "Teste Axd";
    Layout = null;
}

<div>
    <img src="/Photo/Thumb?filename=/content/img/Koala.jpg&width=320" alt="Alternate Text" />
    <img src="/Photo/Thumb?filename=/content/img/Koala111.jpg&width=320" alt="Alternate Text" />

    <img src="/content/img/Koala.jpg.transform.axd?resize=800x600&crop=location:100x100|size:250x250" alt="text" />
    <img src="/content/img/Koala.jpg.transform.axd?resize=800x600" alt="text" />
    <img src="/content/img/Koala.jpg.transform.axd?crop=location:100x100|size:250x250" alt="text" />

    <img src="/content/img/Koala.jpg.transform.axd?resize=800x600&crop=location:100x100|size:600x500" alt="text" />

    <br />
    
    <img src="/content/img/Koala.jpg.thumb.axd?refPoint=1&width=341&height=255&crop=true&fitInside=false" alt="text" />
    <img src="/content/img/Koala.jpg.thumb.axd?refPoint=2&width=341&height=255&crop=true&fitInside=true" alt="text" />
    <img src="/content/img/Koala.jpg.thumb.axd?refPoint=3&width=341&height=255&crop=true&fitInside=false" alt="text" />
    
    <br />
    
    <img src="/content/img/Koala.jpg.thumb.axd?refPoint=4&width=341&height=255&crop=true&fitInside=true" alt="text" />
    <img src="/content/img/Koala.jpg.thumb.axd?refPoint=5&width=341&height=255&crop=true&fitInside=true" alt="text" />
    <img src="/content/img/Koala.jpg.thumb.axd?refPoint=6&width=341&height=255&crop=true&fitInside=true" alt="text" />
    
    <br />
    
    <img src="/content/img/Koala.jpg.thumb.axd?refPoint=7&width=341&height=255&crop=true&fitInside=true" alt="text" />
    <img src="/content/img/Koala.jpg.thumb.axd?refPoint=8&width=341&height=255&crop=true&fitInside=true" alt="text" />
    <img src="/content/img/Koala.jpg.thumb.axd?refPoint=9&width=341&height=255&crop=true&fitInside=true" alt="text" />
</div>