<?xml version="1.0"?>

<customSection>
  <injectionFactory>
    <injection>
      <add key="BusinessAssembly" value="IOC.Binding, IOC.Binding.SimpleInjector.BusinessModule" />
      <add key="DaoAssembly" value="IOC.Binding, IOC.Binding.SimpleInjector.DAOModule" />
    </injection>
  </injectionFactory>
  <thumb notFoundPath="/Content/img/ImagemIndisponivel.gif" defaultWidth="500" defaultHeight="500" />
</customSection>