<?xml version="1.0"?>
<log4net>
    <appender name="ADONetAppender_SqlServer" type="log4net.Appender.AdoNetAppender">
        <bufferSize value="1" />
        <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <connectionString value="[SET AT RUNTIME]" />
        <commandText value="INSERT INTO Log ([Date],[Thread],[IP],[Level],[Logger],[Message],[StackTrace]) VALUES (@log_date, @thread, @ip, @log_level, @logger, @message, @stack_trace)" />
        <parameter>
            <parameterName value="@log_date" />
            <dbType value="DateTime" />
            <layout type="log4net.Layout.RawTimeStampLayout" />
        </parameter>
        <parameter>
            <parameterName value="@thread" />
            <dbType value="String" />
            <size value="255" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%thread" />
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@ip" />
            <dbType value="String" />
            <size value="255" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%aspnet-request{REMOTE_ADDR}" />
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@log_level" />
            <dbType value="String" />
            <size value="50" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%level" />
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@logger" />
            <dbType value="String" />
            <size value="255" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%logger" />
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@message" />
            <dbType value="String" />
            <size value="4000" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%message" />
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@stack_trace"/>
            <dbType value="String"/>
            <size value="-1" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%exception" />
            </layout>
        </parameter>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="logs/rolling-log.txt" />
        <appendToFile value="true" />
        <maxSizeRollBackups value="10" />
        <maximumFileSize value="100" />
        <rollingStyle value="Size" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <header value="[Header]&#13;&#10;" />
            <footer value="[Footer]&#13;&#10;" />
            <conversionPattern value="%aspnet-request{REMOTE_ADDR} %date [%thread] %-5level %logger [%ndc] - %message%newline" />
        </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
        <file value="logs/log-file.txt" />
        <appendToFile value="true" />
        <!-- An alternate output encoding can be specified -->
        <!-- <encoding value="unicodeFFFE" /> -->
        <layout type="log4net.Layout.PatternLayout">
            <header value="[Header]&#13;&#10;" />
            <footer value="[Footer]&#13;&#10;" />
            <conversionPattern value="%aspnet-request{REMOTE_ADDR} %date [%thread] %-5level %logger - %message%newline" />
        </layout>
        <!-- Alternate layout using XML			
			<layout type="log4net.Layout.XMLLayout" /> -->
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%aspnet-request{REMOTE_ADDR} %date [%thread] %-5level %logger - %message%newline" />
        </layout>
    </appender>
    <!-- Example of how to configure the AdoNetAppender to connect to MS SQL Server -->
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
        <level value="WARN" />
        <appender-ref ref="ADONetAppender_SqlServer" />
        <appender-ref ref="RollingLogFileAppender" />
        <appender-ref ref="LogFileAppender" />
        <appender-ref ref="ConsoleAppender" />
    </root>
</log4net>