@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section scripts {    
    <script type="text/javascript">
        $(document).ready(onReady);

        function encodeMessage() {
            var messageWithName = getMessage();
            var encoded = $('textarea[name=encodedMessage]');

            $.ajax({
                type: 'GET',
                data: { message: messageWithName },
                dataType: 'json',
                url: '@Url.Content("~/Message/Encode")',
                success: function (data) {
                    if (data && data != null) {
                        encoded.val(data);
                    }
                }
            });
        }

        function getMessage() {
            var endLine = '\r\n';
            var name = $('input[name=name]').val();
            var email = $('input[name=email]').val();
            var message = $('textarea[name=message]').val();

            return name     + endLine +
                   email    + endLine +
                   message  + endLine + 
                   '------------------------------------------';
        }

        function sendMessage() {
            if ($("#formMessage").valid()) {
                var name = $('input[name=name]').val();
                var email = $('input[name=email]').val();
                var message = $('textarea[name=message]').val();

                $.ajax({
                    type: 'POST',
                    data: {
                        name: name
                    , email: email
                    , message: message
                    },
                    dataType: 'json',
                    url: '@Url.Content("~/Message/Send")',
                    success: function (data) {
                        if (data && data != null) {
                            alert(data);
                        }
                    }
                });
            }
        }

        function onReady() {
            $.validator.setDefaults({
                submitHandler: sendMessage
            });

            $("#formMessage").validate({
                rules: {
                    name: {
                        required: true,
                        minlength: 4
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    message: {
                        required: true
                    }
                },
                messages: {
                    name: {
                        required: "",
                        minlength: ""
                    },
                    email: {
                        required: "",
                        email: ""
                    },
                    message: {
                        required: ""
                    }
                }
            });
        }
    </script>
}

<h2>Index</h2>

<div align="center">

    <form action="@Url.Content("~/Message/Send")" method="post" id="formMessage">
        <table border="0" cellpadding="0" cellspacing="5">

            <tr>
                <td>
                    <label>Escreva seu nome: </label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="name" value="" size="56"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Escreva seu e-mail: </label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="email" value="" size="56"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Escreva sua mensagem: </label>
                </td>
            </tr>

            <tr>
                <td>
                    <textarea name="message" rows="10" cols="57"></textarea>
                </td>
            </tr>

            <tr>
                 <td style="text-align: center;">
                    <input type="button" name="encode" value="encodar" style="width: 308px;" onclick="javascript:encodeMessage();"/>
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <textarea name="encodedMessage" rows="10" cols="57" disabled="disabled"></textarea>
                </td>
            </tr>

            <tr>
                <td colspan="3" style="text-align:right;">
                    <input type="button" name="send" value="Enviar mensagem" onclick="javascript:sendMessage();" />
                </td>
            </tr>

        </table>
    </form>
</div>
